HELP.md
backend/movie-service/.gradle
backend/movie-service/build/
backend/movie-service/bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
backend/movie-service/.idea
backend/movie-service/*.iws
backend/movie-service/*.iml
backend/movie-service/*.ipr
backend/movie-service/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
backend/movie-service/.vscode/
